@model IEnumerable<Inscripcion_Universidad.Models.Dominio.Estudiante>

@{
    ViewBag.Title = "Index";
}

<h1>Bienvenido/a</h1>
<br />

<h2>Opciones disponibles:</h2>
<br />
<button type="button" class="btn btn-primary btn-lg btn-block"> Inscribirse a una materia</button>
<br />
<button type="button" class="btn btn-primary btn-lg btn-block">@Html.ActionLink("Inscribirse a una carrera", "Inscribirse", "Estudiante", new { style = "color:white; text-decoration: none" })</button>
<br />

<button type="button" class="btn btn-primary btn-lg btn-block"> Ver Historial académico</button>

<br />
<button type="button" class="btn btn-primary btn-lg btn-block"> Solicitar un certificado </button>

<!--Certificado de examenes aprobados y de examenes rendidos-->
