@model IEnumerable<Inscripcion_Universidad.Models.Dominio.InscripcionMateria>

@{
    ViewBag.Title = "ListaDeInscripciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListaDeInscripciones</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Materia.NombreMateria)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Materia.NombreMateria)
        </td>
    </tr>
}

</table>
