@model Inscripcion_Universidad.Models.Dominio.Carrera

@{
    ViewBag.Title = "Detalles de carrera";
}

<h2>Detalles</h2>

<div>
    <h4>Carrera</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Nombre de la Carrera
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCarrera)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver atrás", "Index")
</p>
