@model IEnumerable<Inscripcion_Universidad.Models.ViewModels.Carreras.CarrerasListaViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear Carrera</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            Carrera
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCarrera)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Carreras", new { id = item.Id })" class="btn btn-primary">Editar</a>
            <a href="@Url.Action("Delete", "Carreras", new { id = item.Id })" class="btn btn-danger">Eliminar</a>
        </td>
    </tr>
}

</table>
