

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear Materia</h2>

<p>
    @Html.ActionLink("Crear Nueva Materia", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Materia)
        </th>
    </tr>
</table>