@{
    ViewBag.Title = "Estudiantes";
}
<h2>@ViewBag.Title.</h2>
<p><a href="#" class="btn btn-primary">Inscripción carrera</a></p>
<p><a href="#" class="btn btn-primary">Inscripción a materias</a></p>
<p><a href="#" class="btn btn-primary">Historial Academico</a></p>
<p><a href="#" class="btn btn-primary">Certificados de materias</a></p>


