@model IEnumerable<Inscripcion_Universidad.Models.Dominio.Estudiante>

@{
    ViewBag.Title = "Index";
}

<h1>Bienvenido/a</h1>
<br />

<h2>Opciones disponibles:</h2>
<br />


<p><a href="@Url.Action("Inscribirse", "Estudiantes")" class="btn btn-primary">Inscribirse a una carrera</a></p>

<p><a href="@Url.Action("InscribirseMateria", "Estudiantes")" class="btn btn-primary">Inscribirse a materia</a></p>

<p><a href="@Url.Action("ListadeInscripciones", "Estudiantes")" class="btn btn-primary">Materias Inscriptas</a></p>




