@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UAlchemit</h1>
    <p class="lead">La Universidad Alchemit se caracteriza por cursos de hasta dos años de duración</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Inscribirse a una carrera &raquo;</a></p>
</div>
