@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UAlchemit</h1>
    <p class="lead">La Universidad Alchemit se caracteriza por cursos de hasta dos años de duración</p>
    
    <button type="button" class="btn btn-primary btn-lg btn-block">@Html.ActionLink("Inscribirse a una carrera", "Inscribirse", "Estudiantes", new { style = "color:white; text-decoration: none" })</button>
    <br />
</div>