@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UAlchemit</h1>
    <p class="lead">La Universidad Alchemit se caracteriza por cursos de hasta dos años de duración</p>
    @*<p><a href="@Url.Action("Inscribirse", "Estudiantes")" class="btn btn-primary">Inscribirse a una carrera</a></p>*@
</div>